* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", "sans-serif";
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  background: url(img/2.jpg) no-repeat center center/cover;
}

.container {
  width: 600px;
  height: 450px;
}

.header {
  font-size: 1.1rem;
  padding: 6px;
  margin: 25px auto;
  color: #fff;
  border: solid 3px #fff;
  border-radius: 5px;
  background-color: #222222;
  width: 75%;
}

.content {
  background-color: #fff;
  width: 100%;
  height: 70%;
  padding: 50px;
  margin: 5px;
  border-radius: 20px;
  border: solid 5px #222222;
}

.content .text {
  font-size: 1.4rem;
  line-height: 1.3;
}

.content .person {
  font-size: 1.8rem;
  margin-top: 25px;
  color: tomato;
  text-transform: uppercase;
}

.content .button button {
  margin-top: 20px;
  padding: 10px;
  font-size: 1.4rem;
  border-radius: 5px;
  background-color: #262626;
  color: #fff;
}

.content .button button:active {
  background-color: tomato;
}
